<header class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Brand Name -->
    <h1 class="text-3xl font-bold text-white tracking-wider">CrickApp</h1>
    
    <!-- Navigation Menu -->
    <nav>
      <ul class="flex space-x-6">
        <li><a [routerLink]="'/home'" href="#" class="text-white text-lg hover:text-yellow-300 transition-colors">Home</a></li>
        <li><a [routerLink]="'/history'" href="#" class="text-white text-lg hover:text-yellow-300 transition-colors">History</a></li>
        <li><a [routerLink]="'/live'" href="#" class="text-white text-lg hover:text-yellow-300 transition-colors">Live-Score</a></li>
        <li><a [routerLink]="'/point-table'" href="#" class="text-white text-lg hover:text-yellow-300 transition-colors">Point-Table</a></li>
      </ul>
    </nav>
    <div></div>
  </div>
</header>
<div class="px-28 py-8">
  <router-outlet></router-outlet>
</div>
