<div class="table-container">
    <h1 class="text-4xl font-extrabold text-gray-700">WC2023 Point Table</h1>
    
      <table class=" shadow-lg min-w-full bg-white border border-gray-200 rounded-lg mt-8">
        <thead class="bg-gray-800 text-white">
          <tr>
           @for (heading of tableHeading; track $index) {
            <th class="px-6 py-4 text-left text-sm font-semibold">{{heading}}</th>
           }
           
          </tr>
        </thead>
        <tbody class="text-gray-700">
         @for (team of pointTable; track $index) {

            <tr class="border-b hover:bg-gray-50 hover:scale-110 transition-all hover:font-bold"
            [ngClass]="{
                'bg-green-400':$index<=5,
                'bg-red-400':$index>=5
            }"
            >
               @if ($index>0) {
                @for (data of team; track $index) {
                    <td class="px-6 py-4 text-sm">{{data}}</td>
                   }
               }
                
              </tr>
        }
        
        </tbody>
      </table>
    </div>
  